<div class="col-md-12" style="border-left: solid #C5832B;">

    <h1>Create Account</h1>
    <form>
        <div class="form-group row">
            <label for="createMail" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-11">
              <input type="email" class="form-control text-muted" id="createMail">
            </div>
        </div>
        <div class="form-group row">
          <label for="createPassword" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-11">
            <input type="password" class="form-control" id="createPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
            <label for="reInputPassword" class="col-sm-4 col-form-label">Re enter password</label>
            <div class="col-sm-11">
              <input type="password" class="form-control" id="reInputPassword" placeholder="Password">
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>